<div style="justify-content:center;display: flex;align-items: center;min-height: 80vh;">
  <mat-drawer-container class="example-container" autosize
    style="width: 70%;height:70%;border-radius: 6px;box-shadow: 0 0 5px 2px #e8e3e3;">
    <mat-drawer #drawer class="example-sidenav" mode="side" style="padding: 0px 20px;text-align: center;">

      <button mat-mini-fab color="primary" (click)="Sidebar()" style="margin:10px;">
        <mat-icon style="transform:rotate(180deg);">login</mat-icon>
      </button>
      <h2>Switch Video</h2>
      <mat-list *ngFor="let time of VideoInformation" style="margin: 10px 0;">
        <mat-list-item>
          <button mat-button (click)="DateAll(time)">{{time.date |date}}</button>
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
    </mat-drawer>

    <div class="example-sidenav-content">
      <button mat-mini-fab color="primary" (click)="Sidebar()" *ngIf="showFiller" style="margin:10px;position: absolute;
      z-index: 999;">
        <mat-icon>login</mat-icon>
      </button>
      <div style="text-align:center">
        <!-- {{this.video?this.video.nativeElement.src :SrcListItem}} -->

        <div class="video" style="position:relative;" #videoContainer>
          <!-- controls -->
          <div style="position:absolute;
          right:0;left:0;z-index: 999;bottom: 0;top: 0;display: flex;justify-content: center;align-items: center;"
            *ngIf="loading">
            <mat-spinner></mat-spinner>
          </div>
          <video id="video1" class="videoButton" #video1 style="position:relative;z-index:1 !important"
            [src]="SrcListItem" preload="auto" [muted]="true" (timeupdate)="TimeupDate()" (ended)="Ended()"
            [defaultMuted]="true" (pointermove)="pointermove()" (pointerout)="pointerout()" (waiting)="Waiting()"
            (playing)="Playing()" (error)="Error($event)" objectFit="cover" >
            <!-- <ng-container *ngFor="let itemSrc of SrcList">
              <source [src]="itemSrc" type="video/mp4">
            </ng-container> -->
          
          </video>

          <div #videoButton style="position: absolute;bottom: 0;left: 0;z-index:2147483647;right: 0;display: flex;
        align-items: center;justify-content: space-between;background-color:white;opacity: 0.8;">
            <div style="display:flex;align-items: center;flex: 1;">

              <button mat-icon-button (click)="StartEnd()"
                style="display:flex;justify-content: center;align-items: center;margin: 0 10px;">
                <mat-icon style="font-size: 30px;display: flex;justify-content: center;align-items: center;">
                  {{this.Bo?'play_arrow':'pause'}}</mat-icon>
              </button>
              <div style="flex: 1;position: relative;height: 48px;">
                <mat-slider thumbLabel style="width:100%;height:100%;cursor: pointer;position: relative;z-index: 999;"
                  [value]="this.values" [displayWith]="formatLabel" (change)="VideoChange($event)"
                  [max]="(videoAllCount && videoAllCount>0)?videoAllCount:100">
                </mat-slider>
                <div style="position:absolute;right: 0;left: 0;bottom: 0;top: 0;display: flex;align-items: center;">
                  <mat-progress-bar mode="determinate" [value]="buffered" color="accent"
                    style="width: 97%;height: 10px;cursor: pointer;z-index: -1;border-radius: 6px;margin: 0 auto;
                    top: -1px;position: relative;">
                  </mat-progress-bar>
                </div>


              </div>
              <div style="min-width: 50px;"> {{TimeFormat(this.values)}} / {{TimeFormat(this.videoAllCount)}}</div>
            </div>
            <div style="display:flex;align-items: center;padding-right:10px;padding-left: 20px;">
              <!-- <div style="display:flex;align-items: center;">
                {{(this.videoVolume?this.videoVolume:0)*10}}%
                <button mat-icon-button (click)="Muted()">
                  <mat-icon>{{this.videoVolume==0?'volume_off':'volume_up'}}</mat-icon>
                </button>
                <mat-slider [max]="10" (valueChange)="videoVolumeChange($event)" [value]="videoVolume"></mat-slider>
              </div> -->
              <button mat-button [matMenuTriggerFor]="menu">{{selected}} x</button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="VideoSpeed(0.5)">0.5 x</button>
                <button mat-menu-item (click)="VideoSpeed(1)">1.0 x</button>
                <button mat-menu-item (click)="VideoSpeed(2)">2.0 x</button>
                <button mat-menu-item (click)="VideoSpeed(8)">8.0 x</button>
                <button mat-menu-item (click)="VideoSpeed(16)">16.0 x</button>
              </mat-menu>
              <!-- {{Fullscreen}} -->
              <button mat-icon-button (click)="requestFullscreen()">
                <mat-icon>{{Fullscreen?'zoom_in_map':'zoom_out_map'}}</mat-icon>
              </button>
            </div>

          </div>





        </div>



      </div>
    </div>

  </mat-drawer-container>
</div>

<!-- <button mat-button (click)="DateAll()" color="primary">sss</button> -->
