<!-- <div class="triangles1"></div>
 <div class="triangles2"></div>
<div class="triangles3"></div> 
<div>{{value}}</div> -->
<!-- <canvas style="width: 300px; height: 200px;" canvas-id="firstCanvas" #firstCanvas>
    <img  src="assets/images/1.webp" alt=""> 
</canvas> -->
<!-- <div class="a1">

</div> -->
<ng-container *ngFor="let item of ItemList;let index=index" style="border: 1px solid black;">
  <p>
    name:{{item.name}}
    count:{{item.count}}
    <mat-icon  (click)="Delete(item,index)">delete</mat-icon>
    <!-- <mat-icon  (click)="openEdit()">edit</mat-icon> -->
  </p>

</ng-container>

------------------------------------
<ng-container *ngFor="let item of ItemList1;let index=index" style="border: 1px solid black;">
  <p>
    name:{{item.name}}
    count:{{item.count}}
    <mat-icon  (click)="Delete(item,index)">delete</mat-icon>
    <!-- <mat-icon  (click)="openEdit()">edit</mat-icon> -->
  </p>

</ng-container>
<form class="example-form" [formGroup]="FromGroup">
    <mat-form-field class="example-full-width" >
      <mat-label>Name</mat-label>
      <input matInput placeholder="name"  formControlName="name">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
        <mat-label>Count</mat-label>
        <input matInput placeholder="count" formControlName="count">
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="OK()">OK</button>
  </form>
  <!-- <form class="example-form" [formGroup]="FromGroupEdit">
    <mat-form-field class="example-full-width">
        <mat-label>Count</mat-label>
        <input matInput placeholder="count1" formControlName="count1">
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="OK1()">OK</button>
  </form> -->
  <input type="file" (change)="fileChange($event)">
  <button mat-raised-button color="primary" (click)="postTypeRequest1()">OK1</button>


