<canvas #canvas id="canvas"></canvas>
<input type="file" name="photos" multiple accept="image/*" (change)="Change($event)">
<input type="file" name="photos" multiple accept="image/*" (change)="Change1($event)">


<!-- <div style="background: rgba(255, 255, 255,0.5);">
    <p #pElem>
        loading 
    </p>
    <span>...</span>
</div> -->
<div style="background: rgba(255, 255, 255,0.5);display: flex;" #fupElem>
    <p #pElem>
        l
    </p>
    <p #pElem>o</p>
    <p #pElem>a</p>
    <p #pElem>d</p>
    <p #pElem>i</p>
    <p #pElem>n</p>
    <p #pElem>g</p>
</div>