 <!-- <app-mp4></app-mp4> -->
 <!-- <app-mp41></app-mp41> -->
 <!-- <app-mp43></app-mp43> -->
 <!-- <app-video-mp4></app-video-mp4> -->
 <!-- <app-sss></app-sss> -->
 <!-- <app-sss1></app-sss1> -->
 <!-- <app-ksl></app-ksl> -->
 <!-- <ngx-extended-pdf-viewer
 [useBrowserLocale]="true"
 [minifiedJSLibraries]="false"
 [src]="'https://vadimdez.github.io/ng2-pdf-viewer/assets/pdf-test.pdf'"
 >
 </ngx-extended-pdf-viewer> -->
 <!-- <app-color-one></app-color-one> -->

<!-- <app-color-one></app-color-one>
<app-color-1></app-color-1>
 <app-three></app-three>

 <router-outlet></router-outlet> -->
 <app-triangles></app-triangles>
